<div class='events'>
  <table>
      <tr>
        <td>category</td>
        <td>name</td>
        <td>start_at</td>
        <td>end_at</td>
        <td>checkin</td>
        <td>checkout</td>
        <td>confirmation_number</td>
        <td>actions</td>
      </tr>
    </th>
    <%= render @events %>
  </table>
</div>
