<p><%= link_to 'New', new_event_path %><p>

<div class='events'>
  <table>
      <thead>
        <td>category</td>
        <td>name</td>
        <td>start_at_utc</td>
        <td>end_at_utc</td>
        <td>checkin_utc</td>
        <td>checkout_utc</td>
        <td>confirmation_number</td>
        <td>actions</td>
      </thead>
      <%= render @events %>
  </table>
</div>
