// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.calendar {
  position: relative;
}

.date {
  position: absolute;
  left: 10px;
  box-sizing: border-box;
  width: 100px;
}

.hour { 
  position: absolute;
  color: #CCC;
  left: 80px;
}

.lodging {

}

.date p {
  padding: 0;
  margin: 0;
  color: #333;
}

.event-container {
  position: absolute;
  left: 100px;
  box-sizing: border-box;
  width: 100px;
  border-radius: 5px;
  min-height: 20px;
  padding: 5px;
  overflow: hidden;
}

.event-content {
  text-align: center;
}
.train, .flight {
  background: rgb(142, 211, 195);
  margin-left: 10px;
}
.lodging { 
  background: rgb(239, 200, 96);
  margin-left: 30px;
}

.date-content .hour {
  background: white;
}

.weekend {
  font-weight: bold;
}
